@import url("https://fonts.googleapis.com/css2?family=Srisakdi:wght@700&display=swap");

.navbar {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(
    134deg,
    hsl(0 100% 100% / 0.1),
    hsl(0 100% 100% / 0.08),
    transparent
  );
  align-items: center;
  padding: 8px 18px;
  margin-bottom: 2rem;
}
.logo {
  display: flex;
  align-items: center;
}
.logo h4 {
  color: white;
}
.logo img {
  height: 50px;
  width: 50px;
}
.author {
  font-size: 1.7rem;
  color: #fbbc04;
  font-family: "Srisakdi", cursive;
}
